
.top-container {
    padding: 7% 7%;
}

.scale {
    transition: 1s; /* Время эффекта */
   }

.scale:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
   }

.h1-about {
    margin-bottom: 75px;
}

.header-margin {
    margin-bottom: 40px;
}

.nav-container {
    padding: 0 7%;
}

.width-container {
    margin-left: 0;
    margin-right: 0;
}

.hr-margin {
    margin: 0;
}

.bottom-container {
    padding: 1% 7%;
    color: white;
}

.video-nanik {
    height: 450px;
    margin: 0;
}

.modal-body {
    text-align: left;
}

.profphoto {
    height: 450px;
}

.marg-bott {
    margin-bottom: 0;
    padding-bottom: 0;
}